<div class="container my-4">
  <div class="card shadow rounded-4 p-4">
    <div class="row justify-content-between align-items-start">
      <!-- Kiri: Detail Pekerjaan -->
      <div class="col-lg-8 col-md-7 col-sm-12">
        <h2 class="fw-bold mt-3 text-dark"><%= context.job.title %></h2>
        <ul class="list-unstyled text-muted mb-2">
          <li class="text-primary fs-5 mb-2"><i class="fas fa-circle"></i> <%= context.job.type %></li>
          <li class="mb-4">
            <i class="far fa-money-bill-alt"></i>
            <%= formatCurrency(context.job.salary_min) %> – <%= formatCurrency(context.job.salary_max) %>/month
          </li>
        </ul>
        <div class="d-flex flex-wrap gap-2 mt-4">
          <a href="<%= context.from %>" class="btn btn-outline-warning rounded-pill px-4 mr-1"><i class="fas fa-chevron-left"></i> Back</a>
          <% if (!context.hasApplied) { %>
            <% if (!context.profile || !context.resume) { %>
            <a href="/user/profile/update/<%= context.user.id %>" class="btn btn-outline-info rounded-pill px-4 ml-1">
            <% } else { %>
              <a href="/apply/<%= context.job.id %>" class="btn btn-outline-info rounded-pill px-4 ml-1">
            <% } %>
              <i class="fas fa-external-link-alt"></i> Apply
            </a>
          <% } else { %>
            <span class="text-white px-4 py-2 rounded-pill text-capitalize
              <%= context.application[0].status === 'submitted' ? 'bg-primary' : 
                  context.application[0].status === 'reviewed' ? 'bg-secondary' :
                  context.application[0].status === 'interview' ? 'bg-warning' :
                  context.application[0].status === 'hired' ? 'bg-success' :
                  context.application[0].status === 'rejected' ? 'bg-danger' : 
                  'bg-light text-dark' 
              %>">
              <%= context.application[0].status %>
            </span>
          <% } %>
        </div>
      </div>

      <!-- Kanan: Waktu -->
      <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-end align-items-start mt-3 mt-md-0">
        <span class="badge bg-primary border border-info p-2 fw-bold">
          <%= context.job.timeDifference %>
        </span>
      </div>
      
    </div>

    <hr class="my-4">

    <div class="text-dark">
      <h5 class="fw-semibold">Job Details</h5>
      <hr>
      <p class="text-muted"><%- context.job.description %></p>
    </div>
  </div>
</div>
